@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100);

.loading-screen {
  position: absolute;
  background: #0d0d0d;
  width: 100vw;
  height: 100vh;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  opacity: 1;
  transition: 0.5s opacity;
}

.loading-screen.fade-out {
  opacity: 0;
}

.loading-screen .counter {
  text-align: center;
}

.loading-screen .counter p {
  font-size: 40px;
  font-weight: 100;
  color: #f60d54;
}

.loading-screen .counter h1 {
  color: white;
  font-size: 60px;
  margin-top: -10px;
}

.loading-screen .counter hr {
  background: #f60d54;
  border: none;
  height: 1px;
  width: 0%;
}

.loading-screen .counter {
  position: relative;
  width: 200px;
}

.loading-screen .counter h1.abs {
  position: absolute;
  top: 0;
  width: 100%;
}

.loading-screen .counter .color {
  width: 0px;
  overflow: hidden;
  color: #f60d54;
}
