{
  "env": {
    "es2022": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest",
  },
  "extends": [
    "eslint:recommended",
  ],
  "rules": {
    "no-console": "warn",
    "curly": "error",
    "quotes": ["error", "single"],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "semi": "error",
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }]
  }
}

